Options -Indexes +FollowSymlinks -MultiViews
ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>
RewriteEngine On

# If the requested script name is not a directory
RewriteCond %{SCRIPT_FILENAME} !-d
# ... not a file
RewriteCond %{SCRIPT_FILENAME} !-f
# ... but the script filename.php is a file
RewriteCond %{REQUEST_URI}.php -f
# ... rewrite it to the engine
RewriteRule ^(.*)$ engine.php?page=$1.php [QSA,L]

# Send all PHP and HMTL files to the engine
RewriteCond %{REQUEST_URI} \.(php|html)$
# Rewrite it to the engine
RewriteRule ^(.*)$ engine.php?page=$1 [QSA,L]

# Rule for redirecting pages that only exist in the database to the engine
RewriteCond %{SCRIPT_FILENAME} !-f 
# Rewrite it to the engine
RewriteRule ^(.*)$ engine.php?page=$1 [QSA,L]
</IfModule>