/* ==================================================
CSS Normalisation
A lot of the rules in the this section come from https://github.com/necolas/normalize.css
================================================== */

/* --------------------------------------------------
Corrects text resizing oddly in IE6/7 when body font-size is set using em units
-------------------------------------------------- */

html {
	font-size: 100%; /*  */
}

/* --------------------------------------------------
Addresses margins handled incorrectly in IE6/7
-------------------------------------------------- */

body {
	margin: 0;
}

/* --------------------------------------------------
Corrects block display not defined in IE6/7/8/9 & FF3
-------------------------------------------------- */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

/* --------------------------------------------------
Addresses font-family inconsistency between 'textarea' and other form elements.
-------------------------------------------------- */

html, button, input, select, textarea {
    font-family: 'Times New Roman', Times, serif;;
}

/* --------------------------------------------------
Embedded content
-------------------------------------------------- */

img {
    border: 0; /* Removes border when inside 'a' element in IE6/7/8/9, FF3 */
    -ms-interpolation-mode: bicubic; /* Improves image quality when scaled in IE7 */
}

/* --------------------------------------------------
Forms
-------------------------------------------------- */

form {
    margin: 0; /* Corrects margin displayed oddly in IE6/7 */
}

/* Define consistent border, margin, and padding */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; /* Corrects color not being inherited in IE6/7/8/9 */
    padding: 0;
    white-space: normal; /* Corrects text not wrapping in FF3 */
    *margin-left: -7px; /* Corrects alignment displayed oddly in IE6/7 */
}

button, input, select, textarea {
    font-size: 0.8em; /* Corrects font size not being inherited in all browsers */
    margin: 0.2em; /* Addresses margins set differently in IE6/7, FF3+, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
    *vertical-align: middle; /* Improves appearance and consistency in all browsers */
}

button, input {
    line-height: normal; /* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet */
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
    *overflow: visible;  /* Removes inner spacing in IE7 without affecting normal text inputs */
}

/* Re-set default cursor for disabled elements */
button[disabled], input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
    padding: 0; /* Removes excess padding in IE8/9 */
    *height: 13px; /* Removes excess padding in IE7 */
    *width: 13px; /* Removes excess padding in IE7 */
}

/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
    vertical-align: top; /* Improves readability and alignment in all browsers */
}

/* --------------------------------------------------
Lists
-------------------------------------------------- */

/* Addresses margins set differently in IE6/7. */

dl, menu, ol, ul {
    margin: 0;
}

dd {
    margin: 0 0 0 40px;
}

/* Addresses paddings set differently in IE6/7. */

menu, ol, ul {
    padding: 0;
}

/* Corrects list images handled incorrectly in IE7. */

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==================================================
Custom Styles
================================================== */

/* --------------------------------------------------
Base Layout
-------------------------------------------------- */

html { 
	overflow-y: scroll;
	background: #F2F2F2 url('../images/background.png');
	height: 100%;
}

body {
	font-size: 1em;
	color: #333;
	height: 100%;
}

/* --------------------------------------------------
Typography
-------------------------------------------------- */

body {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

blockquote {
    font-style: italic;
    font-weight: 400;
    font-size: 1.625em;
    line-height: 1.4230769230769231em;
    margin-bottom: 0.9615384615384616em;
}

h1 {
    font-size: 4.25em;
    line-height: 1.1029411764705883em;
    margin-bottom: 0.36764705882352944em;
    font-style: normal;
    font-weight: 400;
    font-family: Mate;
}

h2 {
    font-size: 2.625em;
    line-height: 1.1904761904761905em;
    margin-bottom: 0.5952380952380952em;
    font-style: normal;
    font-weight: 400;
    font-family: 'Noticia Text';
}

h3 {
    font-size: 1.625em;
    line-height: 1.9230769230769231em;
    margin-bottom: 0.9615384615384616em;
    font-style: normal;
    font-weight: 400;
    font-family: Actor;
}

h4 {
    margin-bottom: 1.5625em;
    font-weight: 400;
    font-style: normal;
    font-family: Actor;
    font-size: 1em;
    line-height: 1.6171875em;
}

h5 {
    margin-bottom: 1.5625em;
    font-style: normal;
    font-weight: 400;
    font-family: Actor;
    font-size: 1em;
    line-height: 1.6171875em;
}

h6 {
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.5625em;
    font-family: Actor;
    font-size: 1em;
    line-height: 1.6171875em;
}

p {
    margin-bottom: 1.5625em;
    font-size: 1em;
    line-height: 1.6171875em;
}

p.intro {
    font-size: 1.125em;
    margin-bottom: 1.3888888888888888em;
}

/* --------------------------------------------------
Links
-------------------------------------------------- */

a, a:visited {
	outline: none;
	color: #439BBD;
	text-decoration: underline;
}

a:hover {
	outline: none;
	text-decoration:none;
}

a:active, a:focus {
	outline: none;
}

/* --------------------------------------------------
Global Layout
-------------------------------------------------- */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

#holder {
	min-height: 100%;
	position: relative;
}

header {
	min-height: 5em;
}

#logo {
    min-height: 3em;
    float: left;
    width: 50%;
    padding-left: 5em;
}

#contactNumber {
    min-height: 3em;
    float: left;
}

nav {
    min-height: 2em;
    background-color: rgb(128, 128, 128);
}

nav ul {
    text-align: center;
}

nav li {
	display: inline;
    float: left;
    line-height: 1em;
    padding-top: 0.5em;
}

/* Force a tags within list items to fill the entire li element and keep it valid HTML/CSS */
nav li > a {
    display: block;
    color: inherit !important;
    text-decoration: none;
}

#pageContainer {
	padding-bottom: 4em !important; /* Force footer to be below all content */
	/* overflow: hidden; */
}

#pageContents {
    width: 98%;
    padding: 0 1%;
}

footer {
	left: 0;
	right: 0;
	bottom: 0;
	clear: both;
	height: 4em;
	position: absolute;
	text-align: center;
}

#sortableList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#sortableList li {
    border: 1px black solid;
    padding: 1px;
    margin: 1px;
}

/* 3 column layout */

#leftColumn {
    width: 28%;
    float: left;
    padding: 0 1%;
}

#centerColumn {
    width: 48%;
    float: left;
    padding: 0 1%;
}

#rightColumn {
    width: 18%;
    float: left;
    padding: 0 1%;
}

/* Forms */

.advanced {
    display: none;
}

/* --------------------------------------------------
Small Screens (e.g. iPhones)
-------------------------------------------------- */

#usermenu {
	width: 100%;
	margin: auto;
	padding-top: 0.5em;
	text-align: right;
}


#navigation {
	width: 100%;
	padding: 0.5em 0;
	margin: auto;
}

#pagecontainer {
	padding: 0.809em;
    max-width: 30em;
    margin: 0;
}

#map {
	width: 100%;
}